$color-fabra-primary: #475569;
$color-fabra-primary-hover: #1e293b;
$color-fabra-primary-default: #475569;
$font-size-sm: 1rem;
$font-size-md: 1.2rem;
$font-size-lg: 1.4rem;

:root {
  --color-fabra-primary: #475569;
  --color-fabra-primary-hover: #1e293b;
  --color-fabra-primary-default: #475569;
  --font-size-sm: 1rem;
  --font-size-md: 1.2rem;
  --font-size-lg: 1.4rem;
}
